/* layout stlye */
.main_layout[b-t8ds9oklp0] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section_layout[b-t8ds9oklp0] {
    margin: 60px auto 20px;
}

.byView_content[b-t8ds9oklp0] {
    margin: 20px 0 0;
    padding: 1.25rem;
}