/* /Components/Atoms/Headding.razor.rz.scp.css */
h2[b-8sof1jx8k2] {
    text-align: center;
}
/* /Components/Organisms/FirstView.razor.rz.scp.css */
/* Color Style */
.c-white[b-ako71634y3] {
    color: #FFFFFF;
}

/* Font Style */
.futura-m[b-ako71634y3] {
    font-family: "futura_m";
}

/* FV content */
.fv[b-ako71634y3] {
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: hidden;
    position: relative;
}


/* title */
.title[b-ako71634y3] {
    position: absolute;
    overflow: hidden;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 200;
    margin-left: 11%;
}

.main_title_text[b-ako71634y3] {
    font-family: "futura_m";
    font-size: 6.2rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}

.main_title_description[b-ako71634y3] {
    font-family: "futura_r";
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}


/* logo */
.blazor[b-ako71634y3] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 29.427%;
    margin: auto;
    height: 1385px;
    width: 1385px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo[b-ako71634y3] {
    position: relative;
    width: 40%;
    height: 40%;
}

.main_logo[b-ako71634y3] {
    position: absolute;
    left: -15.5963%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.main_logo_text[b-ako71634y3] {
    font-family: "futura_b";
    font-size: 5.8rem;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 15px rgb(2 11 22 / 20%);
    color: #ff4d5a;
}

/* moon logo */
.moon_logo[b-ako71634y3] {
    margin-left: -35px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 70px 70px 0 0 #d0d5d2;
}
/* /Components/Organisms/StandardPageList.razor.rz.scp.css */
body[b-dpfpkfpq6v] {
}
/* /Pages/Index.razor.rz.scp.css */
/* layout stlye */
.main_layout[b-t8ds9oklp0] {
    padding: 0 20px;
}

.section_layout[b-t8ds9oklp0] {
    margin: 20px auto;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y5pde0k6jk] {
}

.main[b-y5pde0k6jk] {
    flex: 1;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.header[b-y5pde0k6jk] {
    background-color: transparent;
}

.top-row[b-y5pde0k6jk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y5pde0k6jk]  a, .top-row .btn-link[b-y5pde0k6jk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y5pde0k6jk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y5pde0k6jk] {
        display: none;
    }

    .top-row.auth[b-y5pde0k6jk] {
        justify-content: space-between;
    }

    .top-row a[b-y5pde0k6jk], .top-row .btn-link[b-y5pde0k6jk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {

    .header[b-y5pde0k6jk] {
        width: 100vw;
        position: sticky;
        top: 0;
    }

    .top-row[b-y5pde0k6jk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .section[b-y5pde0k6jk] {
        padding: 0 2rem;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar[b-u603n3jyus] {
    display: flex;
    justify-content: end;
}

.navbar-toggler[b-u603n3jyus] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u603n3jyus] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-title[b-u603n3jyus] {
    height: 3rem;
    display: none;
    line-height: 3rem;
}

.nav-title-text[b-u603n3jyus] {
    color: #FFFFFF;
}

.navbar-brand[b-u603n3jyus] {
    font-size: 1.1rem;
}

.oi[b-u603n3jyus] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

/* flex layout set */
.flex-header-both[b-u603n3jyus] {
    flex-direction: column;
}

.nav-item[b-u603n3jyus] {
    font-size: 0.9rem;
}

    .nav-item[b-u603n3jyus]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u603n3jyus]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u603n3jyus]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar[b-u603n3jyus] {
        display: none;
    }

    .navbar-toggler[b-u603n3jyus] {
        display: none;
    }


    .nav-title[b-u603n3jyus] {
        display: block;
    }

    .collapse[b-u603n3jyus] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    /* flex layout set */
    .flex-header-both[b-u603n3jyus] {
        flex-direction: row;
    }

}
