/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y5pde0k6jk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-y5pde0k6jk] {
    flex: 1;
}

.header[b-y5pde0k6jk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y5pde0k6jk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y5pde0k6jk]  a, .top-row .btn-link[b-y5pde0k6jk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y5pde0k6jk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y5pde0k6jk] {
        display: none;
    }

    .top-row.auth[b-y5pde0k6jk] {
        justify-content: space-between;
    }

    .top-row a[b-y5pde0k6jk], .top-row .btn-link[b-y5pde0k6jk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y5pde0k6jk] {
        flex-direction: row;
    }

    .header[b-y5pde0k6jk] {
        width: 100vw;
        position: sticky;
        top: 0;
    }

    .top-row[b-y5pde0k6jk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .section[b-y5pde0k6jk] {
        padding: 0 2rem;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar[b-u603n3jyus] {
    display: flex;
    justify-content: end;
}

.navbar-toggler[b-u603n3jyus] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u603n3jyus] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-title[b-u603n3jyus] {
    height: 3rem;
    display: none;
    line-height: 3rem;
}

.nav-title-text[b-u603n3jyus] {
    color: #FFFFFF;
}

.navbar-brand[b-u603n3jyus] {
    font-size: 1.1rem;
}

.oi[b-u603n3jyus] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

/* flex layout set */
.flex-header-both[b-u603n3jyus] {
    flex-direction: column;
}

.nav-item[b-u603n3jyus] {
    font-size: 0.9rem;
}

    .nav-item[b-u603n3jyus]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u603n3jyus]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u603n3jyus]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar[b-u603n3jyus] {
        display: none;
    }

    .navbar-toggler[b-u603n3jyus] {
        display: none;
    }


    .nav-title[b-u603n3jyus] {
        display: block;
    }

    .collapse[b-u603n3jyus] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    /* flex layout set */
    .flex-header-both[b-u603n3jyus] {
        flex-direction: row;
    }

}
