@using System.Collections.Generic;

<div>
    <div class="about_shadow">
        <Headding Title="@Title" />
        @foreach (var item in ViewContent)
        {
            <SoloViewList Item="@item" />
        }
    </div>
</div>

@code {
    public string Title = "About Me";
    private List<View> ViewContent { get; set; }
    protected override void OnInitialized()
    {
        this.ViewContent = new List<View>();
        this.ViewContent.Add(new View()
        {
            ViewTitle = "Who am I",
            ViewHeadding = "齋藤 雄太",
            ViewSmallHeadding = "YUTA SAITO",
            ViewDescription = "1996年、神奈川県生まれ。大学を卒業後、都内のIT関連会社でフロントエンドエンジニアとして就職。大手飲食店決済サービス関連会社のWEB運用・保守業務に従事しながら、社内の経営、教育、人事、企画など様々な業務に取り組む。他方で、Unityを使った個人のゲーム開発活動も行っている。"
        });
    }
}
