@* FirstView Components *@
@inherits LayoutComponentBase

<div>
    <section class="fv">
        <div class="title">
            <h1 class="main_title_text c-white">
                YUTA<br />SAITO
            </h1>
            <p class="main_title_description c-white">
                frontend engineer /<br />game developer.
            </p>
        </div>
        <div class="blazor">
            <div class="logo">
                <div class="moon_logo">
                </div>
                <div class="main_logo">
                    <p class="main_logo_text c-white">
                        portfolio
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
