@using BlazorLang;

<div>
    <Headding />
    <div class="card-deck">
        @foreach (var card in books)
        {
            <Card CardList="@card"/>
        }
    </div>
</div>

@code {
    public List<Book> books;
    protected override void OnInitialized()
    {
        books = new List<Book>();
        books.Add(new Book()
        {
            Image = "",
            Title = "あいうえお",
            Description = ""
        }
        );
        books.Add(new Book()
        {
            Image = "",
            Title = "かきくけこ",
            Description = ""
        }
        );
        books.Add(new Book()
        {
            Image = "",
            Title = "さしすせそ",
            Description = ""
        }
        );
    }
}
