

@* CardFlexModifier => card--3column or card--3column *@
<div class="card card_shadow @CardFlexModifier" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; ">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#FFFFFF" width="100%" height="100%" /><text fill="#6610f2" dy=".3em" x="50%" y="50%">Image cap</text></svg>
    <div class="card-body">
        <h5 class="card-title">@CardList.Title</h5>
        <p class="card-text">@CardList.Description</p>
    </div>
</div>
@code {
    [Parameter]
    public Book CardList { get; set; }
    [Parameter]
    public string CardFlexModifier { get; set; }
}