@page "/"

<FirstView />

<main class="main_layout">

    <section class="section_layout">
        <StandardPageList />
    </section>

    <section class="section_layout">
        <div class="byView_content">
            <AboutMe />
        </div>
    </section>

</main>

<Footer />


