@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="header">
            <NavMenu />
        </div>

        <!--
        <div class="section top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        -->

        <div>
            @Body
        </div>
    </div>
</div>
