
.byVew-flex[b-2kjzhongma] {
    flex-direction: column;
}

@media (min-width: 641px) {
    .flex-equal[b-2kjzhongma] {
        flex: 1 0 50%;
    }

    .byVew-flex[b-2kjzhongma] {
        flex-direction: row;
    }
}
